<%= link to: @link do %>
  <button class="bg-white active:bg-neutral-50 text-neutral-700 font-bold px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 uppercase shadow hover:shadow-md inline-flex items-center text-xs ease-linear transition-all duration-150" type="button">
		<img alt="Login with google" class="w-5 mr-1" src="https://demos.creative-tim.com/notus-js/assets/img/google.svg">
		Google
	</button>
<% end %>

	